$purple:#6f42c1;

$primary: $purple;

$accordion-icon-width:                    1.5rem;
$accordion-icon-color:                    $primary;
$accordion-icon-active-color:             $primary;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='#{$accordion-icon-color}'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z' /></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='#{$accordion-icon-active-color}'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z' /></svg>");

@import "../vendor/bootstrap-5.1.0/scss/bootstrap.scss";